.main {
    --sgrid-column: sgrid-all;
    // TODO: review, or remove
    margin-block-start: 1rem;
    display: grid;
    align-items: stretch;
    justify-items: stretch;
}

.form-errors{
    color: red;
}