.header {
    padding: 1.25rem 0;
    // position: sticky;
    // inset: 0;
    background: var(--clr-white);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem 0.5rem;
    z-index: 1;

    &-logo {
        // max-width: 200px;
    }

}



.header-nav {

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;
    list-style: none;
    margin-inline-start: auto;
    
    &-list, &-li {
        display: contents;
    }
    
    &-search-btn, &-liked-products {
        --icon-size: 25px;
        --btn-padding: 0.45rem 0.75rem;
        gap: 0.35rem;
        border-radius: 1vmax;
    }

    &-sign-in {
        --btn-padding: 0.75rem 1.15rem;
    }

    &-cart {
        --btn-bg: transparent;
        --btn-padding: 0;
        --icon-size: 30px;
        font-weight: 400;
        font-size: var(--step-1);
        gap: 0.25rem;
        // text-transform: uppercase;

        
        & > svg {
            color: lightseagreen;
        }
    }


    // @media (max-width: 768px) {
    //     &-list {
    //         display: grid;
    //         align-content: start;
    //         background: var(--clr-white);
    //         z-index: 2;
    //         position: fixed;
    //         inset: 0 0 0 auto;
    //         width: min(100%, 250px);

    //         // TODO: remove, and functionalize
    //         display: none;
    //     }
    // }

}
