.products {
  margin-block-start: 2rem;

  &-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem 1.5rem;
    list-style: none;
  }


}


.carousel {
  container: carousel-container / inline-size;
  --m-inline: 2rem;
  height: 575px;
  
  .slick-slide {
    margin-inline: var(--m-inline, 0) !important;
  }

  &-list {
    width: 100cqw !important;
  }


  &-item {
    --c-carousel-width: var(--carousel-width, 30rem);

    --m-inline: 2rem;
    width: var(--c-carousel-width);
    border: 1px solid lavender;
    border-radius: 1rem;
    display: flex;
    grid-template-columns: 1fr;
    transition: transform 400ms;
    scroll-snap-align: center;


    &:hover {
      transform: translateY(-5px);
    }


    @media (max-width: 45rem) {
      --carousel-width: calc(100vw - 5rem);

    }
  }


  &-image,
  &-copy {
    grid-area: 1 / -1;
    --b-radius: 1rem;
  }

  &-image {
    display: grid;
    align-items: stretch;
    grid-template-columns: 1fr;
    overflow: hidden;
    border-top-left-radius: var(--b-radius);
    border-top-right-radius: var(--b-radius);

    img {
      align-self: stretch;
      width: 100%;
      display: inline-block;
      aspect-ratio: 16 / 9;
      height: inherit;
      object-fit: cover;
      object-position: center;
    }
  }


  &-copy {
    isolation: isolate;
     border-bottom-left-radius: var(--b-radius);
    border-bottom-right-radius: var(--b-radius);
    align-self: end;
    padding: 1rem 0.9rem 1.25rem;
    background: hsl(0deg 0% 0% / 0.7);
    color: var(--clr-white);
    line-height: 1.5;
    display: grid;
    gap: 0.65rem;
  }

  &-title {
    font-size: calc(var(--step-2) * 0.85);
    font-weight: 500;
    line-height: 0.9;

    a {
      --clr-link: var(--clr-white);
    }
  }


  &-btn {
    --btn-padding: 0.65rem 1.25rem;
    --btn-bg: lightseagreen;
    --btn-clr: var(--clr-white);
    border-radius: 1vmax;
    font-weight: 600;
    width: fit-content;
  }

}