.toast {
    --toast-offset: 1rem;
    --toast-accent: lightseagreen;
    position: fixed;
    inset: auto auto var(--toast-offset) var(--toast-offset);
    padding: 0.8rem 0.95rem;
    max-width: 80vw;
    background: hsl(0deg 0% 0% / 0.9);
    border: 4px solid var(--toast-accent);
    color: var(--clr-white);
    border-radius: 1rem;
    isolation: isolate;
    z-index: 5;

    // TODO: to modify
    display: none;
}